.projects-container{
    background-color:#241F3E ;
    
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 2%;


}
.project-title{
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #FFB81E;
    margin-top:2%;
    margin-left:3%;
    



}
.hr-projects{

    height: 80%;
    background-color: white;
    margin-top:30px;
    margin-left: 10%;
    
    
}
.projects-container p{
   position: absolute;
   bottom:-15%;
   left:15%;
   text-decoration: none;
   font-weight: 400;

}
.projects{
    display: flex;
    justify-content: center;
    align-items: space-between;
    gap:20px;
   
    height: 40%;
    width:60%;
    margin-top:15%;
}
.projects div{
    height: 90%;
    width: 30%;
 background-color: white;
}
.projects span {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFEBC5;
    color:black;
    width: 100%;
    height: 18%;
    outline: 2px solid white;
    margin-top:-30%;
}
.projects button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border:none;
    margin-top:90%;
    margin-left: 78%;
    background-image: url("../assets/icons/Bottom-arrow.png");
    background-size: cover; /* Ajuste l'image pour remplir le bouton */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    background-position: center; 
    transform:rotate(-90deg) ;
}