.headercontainer{
    color:white;  
background-color:#241F3E ;
display:felx;
justify-content: space-between;
align-items:end;
}
#mainlogo img{
    hieght:40px;
    width:40PX;
}
#mainlogo p{
    color:white;
}
#navbarlist{
list-style: none;
background-color:#241F3E ;

}
a{
    text-decoration: none;
    color:white;
}