#mainlogo{
    background-color: black;
    height:50px;
    width:50px;
}
#navbarlist{
list-style: none;
background-color:#241F3E ;
display: flex;
justify-content: space-around;
color:white;

}
a{
    text-decoration: none;
}