.headercontainer {

    color: white;
    background-color: #241F3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbarlist{
    
    list-style-type: none;
    display: flex;
    gap: 120px;

}
#navbarlist a{
    text-decoration: none;
    color:white;
}

.logoclass{
    display: flex;
    align-items:flex-start;
    font-size: 24px;
    font-family: lato;
  
}